<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h2">Users</h1>
</div>
<div class="row">
	<%= render "customers" %>
	<div class="apple_pagination">
	    <div class="page_info">
	      <%= page_entries_info @rows %>
	    </div>
    	<%= will_paginate @rows, :container => false %>
  </div>
</div>
