<div id="product_list">
	<%= render "list" %>
	<div class="apple_pagination">
	    <div class="page_info">
	      <%= page_entries_info @products %>
	    </div>
    	<%= will_paginate @products, :container => false %>
  </div>
</div>