<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <% @columns.each do |col_attr_name, col_attr_value| %>
          <th><%= col_attr_name.sub("_", " ").capitalize %></th>
        <% end %>
        <% if !@curd.nil? %>
          <th colspan=3>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @rows.each do |array| %>
        <tr>
            <% @columns.each do |k, v| value = array.read_attribute k %>
              <% if k !='id' %>
                <td><%= getUserType(k, value) %></td>
              <% end %>
            <% end %>
            <% if !@curd.nil? %>
              <% @curd.each do |kurl, vurl| %>
                <% if (kurl == 'Delete') %>
                  <td><%= link_to kurl,"#{vurl}/#{array.id}", :data => {:confirm => 'Are you sure?'} %></td>
                <% else %>
                  <td><%= link_to kurl,"#{vurl}/#{array.id}" %></td>
                <% end %>  
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>