<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      You account with Shopping needs is opened, below are your credentails.
    </p>
    <p>UserName : <%= @user.name %></p>
    <p>Password : <%= @pwd %></p>
  </body>
</html>